.btnHome {
  .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 26px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: transparent;
    border-radius: 100px;
    font-weight: 600;
    color: var(--primaryColor);
    box-shadow: 0 0 0 2px var(--primaryColor);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: var(--primaryColor);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .animated-button .arr-1 {
    right: 12px;
  }

  .animated-button .arr-2 {
    left: -22%;
  }

  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--primaryColor);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: black;
    border-radius: 12px;
  }

  .animated-button:hover .arr-1 {
    right: -25%;
  }

  .animated-button:hover .arr-2 {
    left: 12px !important;

  }

  .animated-button:hover .text {
    transform: translateX(10px);
  }

  .animated-button:hover svg {
    fill: black;
  }

  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--primaryColor);
  }

  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
}

.section1 {
  h1 {
    font-size: 58px;
    color: black;
  }

  p {
    color: blacksmoke;
  }

  .txt {
    position: relative;
  }

  .shadow {
    position: absolute;
    top: 10px;
    width: 404.031px;
    height: 404.031px;
    border-radius: 304.031px;
    opacity: 0.15000000596046448;
    background: var(--primaryColor);
    filter: blur(100px);
  }
}


.section2 {
  .client img {
    filter: grayscale(100%) !important;
    cursor: pointer;
    transition: 0.3s;
  }

  .client img:hover {
    filter: grayscale(0%) !important;
  }

}

.section3 {
  .imag {
    position: relative;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    img.visible {
      opacity: 1;
    }
  }

  .card {
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }

  .card.active {
    background-color: var(--primaryColor);
    color: white !important;
  }
}

.section4 {
  .col-lg-3 {
    /* width: 20% !important; */
    /* margin: auto; */
  }

  .card {
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    transition: 0.4s;
  }

  .card:hover {
    background-color: var(--primaryColor);
    color: black;
  }
}


.section6 {
  li .active {
    background-color: var(--primaryColor);
    color: white !important;
  }

  .nav-link {
    color: var(--primaryColor) !important;
    font-weight: 500;
  }

  .card {
    background-color: whitesmoke;
    border-radius: 20px;
    cursor: pointer;

    img {
      padding-bottom: 60px;
      transition: 0.4s;
    }

    .fa-solid {
      transition: 0.4s;
    }
  }

  .card:hover {
    img {
      transform: scale(1.04);
    }

    .fa-solid {
      transform: translateY(-10px) translateX(6px);
    }
  }
}

.section8 {

  .carde {
    background-color: whitesmoke;
    /* background-color: #E5E5E5; */
    /* background-color: #F5FFFA; */
    box-shadow: 0px 10px 40px 0px #ffffff0d;
    border-radius: 16px;
  }

  .imag img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .fa-star {
    color: gold;
  }
}