<app-navbar></app-navbar>
<main id="home">

  <section class="section1 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="shadow"></div>
          <div class="txt pt-5">
            <h1 class="fw-bold pb-3">Dedicated teams
              for web and mobile development</h1>
            <p class="pb-3">
              We specialize in building scalable, maintainable, and secure applications that work across all devices.
              Our team of experts has the necessary skills and experience to create high-quality products.
            </p>
            <div class="btnHome">
              <button class="animated-button" routerLink="/contact">
                <svg viewBox="0 0 30 22" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                  </path>
                </svg>
                <span class="text m-0 p-0">Let's Work</span>
                <span class="circle"></span>
                <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                  </path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="imag">
            <img src="../../../assets/vendors/imgs/Pair programming-bro.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="section2 py-5">
    <div class="container">
      <div class="title text-center">
        <h2 class="fw-bold text-black">Our clients love us</h2>
        <p class="text-black-50">
          We've worked with some of the world's most renowned companies and organizations.
        </p>
      </div>
      <div class="row pt-3 text-center">
        <div class="col-lg-3 col-md-6 col-12 mt-3" *ngFor="let client of clients">
          <div class="client">
            <img [src]="client.logo" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-none d-lg-block">
          <div class="imag">
            <img [class.visible]="hoveredCard === 'web'" src="../../../assets/vendors/imgs/web.jpg"
              class="img-fluid rounded" alt="">
            <img [class.visible]="hoveredCard === 'mobile'" src="../../../assets/vendors/imgs/mobile.jpg"
              class="img-fluid rounded" alt="">
            <img [class.visible]="hoveredCard === 'ui'"
              src="../../../assets/vendors/imgs/ui-ux-design-web-design-1600.jpg" class="img-fluid rounded" alt="">
            <img [class.visible]="hoveredCard === 'testing'" src="../../../assets/vendors/imgs/ui.jpg"
              class="img-fluid rounded" alt="">
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="row flex-column">
            <div class="col-12">
              <div class="card p-3" (mouseenter)="setHoveredCard('web')" (mouseleave)="setHoveredCard('')"
                [class.active]="hoveredCard === 'web'">
                <h4 class="fw-bold">Web Development</h4>
                <p class="">
                  Website development involves creating and maintaining websites to meet specific business or personal
                  needs. It includes various aspects such as web design, web content development,
                  client-side/server-side scripting, and web server configuration.
                </p>
              </div>
            </div>

            <div class="col-12 mt-3">
              <div class="card p-3" (mouseenter)="setHoveredCard('mobile')" (mouseleave)="setHoveredCard('')"
                [class.active]="hoveredCard === 'mobile'">
                <h4 class="fw-bold">Mobile Development</h4>
                <p class="">
                  Mobile app development involves creating software applications that run on mobile devices, such as
                  smartphones and tablets. It includes designing, building, and testing apps for various platforms, such
                  as iOS and Android, to meet specific user needs and business objectives.
                </p>
              </div>
            </div>

            <div class="col-12 mt-3">
              <div class="card p-3" (mouseenter)="setHoveredCard('ui')" (mouseleave)="setHoveredCard('')"
                [class.active]="hoveredCard === 'ui'">
                <h4 class="fw-bold">UI/UX Design</h4>
                <p class="">UI/UX design involves crafting user-friendly interfaces and enhancing user
                  experiences. It includes user research, interaction design, and visual design to create intuitive
                  products. The goal is to ensure seamless interactions that engage and satisfy users.</p>
              </div>
            </div>

            <div class="col-12 mt-3">
              <div class="card p-3" (mouseenter)="setHoveredCard('testing')" (mouseleave)="setHoveredCard('')"
                [class.active]="hoveredCard === 'testing'">
                <h4 class="fw-bold">Software Testing</h4>
                <p class="">
                  Software testing ensures the quality and functionality of applications by identifying defects before
                  deployment. It includes various methods such as unit testing, and user acceptance
                  testing,
                  Effective testing enhances reliability and user satisfaction while reducing maintenance costs. </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section4 py-5">
    <div class="container">
      <div class="title text-center">
        <h2 class="text-black">About Us</h2>
        <p class="text-black-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis amet illum ipsa quam
          enim accusantium.</p>
      </div>
      <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card text-center p-4">
            <h2 class="fs-1 text-black">+5</h2>
            <h6 class="text-black-50">Years of experience</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card text-center p-4">
            <h2 class="fs-1 text-black">99%</h2>
            <h6 class="text-black-50">Satisfication rate</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card text-center p-4">
            <h2 class="fs-1 text-black">89</h2>
            <h6 class="text-black-50">Clients</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card text-center p-4">
            <h2 class="fs-1 text-black">77</h2>
            <h6 class="text-black-50">Completed Projects</h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section6 py-2">
    <div class="container">
      <div class="row">
        <div class="col-12 mt-lg- mt-4">
          <div class="nav-tab p-3">
            <ul class="nav nav-pills mb-3 d-flex justify-content-center " id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-first-tab" data-bs-toggle="pill" data-bs-target="#pills-first"
                  type="button" role="tab" aria-controls="pills-first" aria-selected="true">All</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-second-tab" data-bs-toggle="pill" data-bs-target="#pills-second"
                  type="button" role="tab" aria-controls="pills-second" aria-selected="false">Web</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-third-tab" data-bs-toggle="pill" data-bs-target="#pills-third"
                  type="button" role="tab" aria-controls="pills-third" aria-selected="false">Mobile</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-forth-tab" data-bs-toggle="pill" data-bs-target="#pills-forth"
                  type="button" role="tab" aria-controls="pills-forth" aria-selected="false">UI/UX</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-fifth-tab" data-bs-toggle="pill" data-bs-target="#pills-fifth"
                  type="button" role="tab" aria-controls="pills-fifth" aria-selected="false">Testing</button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <!-- All Projects Tab -->
              <div class="tab-pane fade show active" id="pills-first" role="tabpanel" aria-labelledby="pills-first-tab">
                <div class="row mt-5">
                  <div class="col-lg-4 mt-2" *ngFor="let project of allProjects">
                    <div class="card p-3" routerLink="/project/{{project.id}}">
                      <div class="imag">
                        <img [src]="project.image" class="img-fluid rounded" alt="">
                      </div>
                      <div class="d-flex justify-content-between align-items-end">
                        <div class="title mt-3">
                          <span class="text-black-50">{{ project.projectType }}</span>
                          <h4 class=" text-black">{{ project.projectName }}</h4>
                        </div>
                        <div class="rit">
                          <i class="fa-solid fa-square-arrow-up-right fs-1 text-black p-1"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Web Projects Tab -->
              <div class="tab-pane fade" id="pills-second" role="tabpanel" aria-labelledby="pills-second-tab">
                <div class="row mt-5">
                  <div class="col-lg-4 mt-2" *ngFor="let project of webProjects">
                    <div class="card p-3" routerLink="/project/{{project.id}}">
                      <div class="imag">
                        <img [src]="project.image" class="img-fluid rounded" alt="">
                      </div>
                      <div class="d-flex justify-content-between align-items-end">
                        <div class="title mt-3">
                          <span class="text-black-50">{{ project.projectType }}</span>
                          <h4 class=" text-black">{{ project.projectName }}</h4>
                        </div>
                        <div class="rit">
                          <i class="fa-solid fa-square-arrow-up-right fs-1 text-black p-1"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Mobile Projects Tab -->
              <div class="tab-pane fade" id="pills-third" role="tabpanel" aria-labelledby="pills-third-tab">
                <div class="row mt-5">
                  <div class="col-lg-4 mt-2" *ngFor="let project of mobileProjects">
                    <div class="card p-3" routerLink="/project/{{project.id}}">
                      <div class="imag">
                        <img [src]="project.image" class="img-fluid rounded" alt="">
                      </div>
                      <div class="d-flex justify-content-between align-items-end">
                        <div class="title mt-3">
                          <span class="text-black-50">{{ project.projectType }}</span>
                          <h4 class=" text-black">{{ project.projectName }}</h4>
                        </div>
                        <div class="rit">
                          <i class="fa-solid fa-square-arrow-up-right fs-1 text-black p-1"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- UI/UX Projects Tab -->
              <div class="tab-pane fade" id="pills-forth" role="tabpanel" aria-labelledby="pills-forth-tab">
                <div class="row mt-5">
                  <div class="col-lg-4 mt-2" *ngFor="let project of uiProjects" routerLink="/project/{{project.id}}">
                    <div class="card p-3">
                      <div class="imag">
                        <img [src]="project.image" class="img-fluid rounded" alt="">
                      </div>
                      <div class="d-flex justify-content-between align-items-end">
                        <div class="title mt-3">
                          <span class="text-black-50">{{ project.projectType }}</span>
                          <h4 class=" text-black">{{ project.projectName }}</h4>
                        </div>
                        <div class="rit">
                          <i class="fa-solid fa-square-arrow-up-right fs-1 text-black p-1"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Testing Projects Tab -->
              <div class="tab-pane fade" id="pills-fifth" role="tabpanel" aria-labelledby="pills-fifth-tab">
                <div class="row mt-5">
                  <div class="col-lg-4 mt-2" *ngFor="let project of testingProjects"
                    routerLink="/project/{{project.id}}">
                    <div class="card p-3">
                      <div class="imag">
                        <img [src]="project.image" class="img-fluid rounded" alt="">
                      </div>
                      <div class="d-flex justify-content-between align-items-end">
                        <div class="title mt-3">
                          <span class="text-black-50">{{ project.projectType }}</span>
                          <h4 class=" text-black">{{ project.projectName }}</h4>
                        </div>
                        <div class="rit">
                          <i class="fa-solid fa-square-arrow-up-right fs-1 text-black p-1"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section7 py-5">
    <div class="container">
      <div class="title text-center">
        <h2 class=" text-black">Our Blog</h2>
        <p>
          <span class="text-black-50">Latest news and updates from our blog</span>
        </p>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4 col-12 mt-3" *ngFor="let blog of blogs">
          <a [routerLink]="['/blog', blog.id]" class="card text-decoration-none">
            <div class="imag">
              <img [src]="blog.image" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-black">{{blog.title}}</h4>
                <p class="text-black-50">{{blog.description | slice : 10 : 100 }}</p>
                <div class="date">
                  <small class="text-black-50">{{blog.date}}</small>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-12 mt-5">
          <div class="text-center">
            <button routerLink="/blog" class="btn-xpert">Show More</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section8 py-5">
    <div class="container">
      <div class="title mb-2 p-4">
        <h2 class="fw-bold text-black">What clients say about us?</h2>
      </div>
      <p-carousel [value]="reviews" [numVisible]="numVisible" [numScroll]="1" [circular]="true"
        [autoplayInterval]="2300" [showIndicators]="false" [showNavigators]="false" [autoplayInterval]="2300">
        <ng-template pTemplate="item" let-review>
          <div class="carde p-3 m-2">
            <div class="tope d-flex justify-content-between align-items-center flex-wrap pb-3">
              <div class="imag">
                <img [src]="review.img" class="rounded" width="90" alt="">
              </div>
              <div class="txt">
                <h6 class="p-0 m-0 text-black">{{ review.name }}</h6>
                <p class="p-0 m-0 text-black-50">{{ review.job }}</p>
              </div>
              <img src="assets/vendors/imgs/quote.svg" alt="">
            </div>
            <p class="text-black-50">{{ review.text }}</p>
            <div class="btm d-flex justify-content-start align-items-center flex-wrap">

              <!-- <h6>{{ review.title }}</h6> -->
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star ms-1"></i>
              <i class="fa-solid fa-star ms-1"></i>
              <i class="fa-solid fa-star ms-1"></i>
              <i class="fa-solid fa-star ms-1"></i>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </section>


</main>
<app-footer></app-footer>