<app-navbar></app-navbar>
<main id="web" @fadeInOut>

  <section class="section1 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 order-2 order-lg-1">
          <div class="txt">
            <h2 class="fw-bold fs-1 text-black">Web Development</h2>
            <p class="text-black-50">
              We specialize in creating high-quality, responsive, and user-friendly websites that work across all
              devices.
              Our team of experts has the necessary skills and experience to create beautiful and engaging web
              applications.
            </p>
          </div>
        </div>
        <div class="col-lg-6  col-12 order-1 order-lg-2">
          <div class="imag">
            <img src="../../../assets/vendors/imgs/Web search-bro.png" class="img-fluid rounded" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section2 py-5">
    <div class="container">
      <div class="title">
        <h2 class="fw-bold text-black">Why choose us</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fa-chart-column fs-1"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-black">Performance</h3>
              <p class="text-black-50">Ensure fast loading times and seamless interactions with optimized code,
                responsive
                designs, and performance tuning, enhancing user satisfaction and retention.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fs-1 fa-lock"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-black">Security</h3>
              <p class="text-black-50">Protect user data and website integrity through robust security practices such as
                SSL encryption, firewalls, and regular vulnerability assessments to prevent cyber threats.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fas fs-1 fa-chart-line"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-black">Scalability</h3>
              <p class="text-black-50">Develop websites that can grow with your business, designed to handle increased
                traffic, additional features, and evolving user demands without compromising performance.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fas fs-1 fa-globe"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-black">Cross-Browser Compatibility</h3>
              <p class="text-black-50">Guarantee a consistent user experience across all major browsers, ensuring that
                the website looks and functions perfectly regardless of the platform visitors use.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fs-1 fa-medal"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-black">Quality</h3>
              <p class="text-black-50">Our web applications are passing through different types of testing: functional
                testing, integration testing, security testing and load testing.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fas fs-1 fa-search"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-black">SEO-Friendly Architecture</h3>
              <p class="text-black-50">Build websites with clean code and an optimized structure that improves search
                engine rankings, driving more organic traffic and improving visibility.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section3 py-5 px-3">
    <div class="container">
      <div class="title">
        <h2 class="fw-bold text-black">We've built various projects using <span>different technologies</span>.</h2>
      </div>
      <div class="row">
        <div class="col-lg-2 col-6 mt-3">
          <div class="imdg">
            <img src="../../../assets/vendors/imgs/angular-logo.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-2 col-6 mt-3">
          <div class="imdg">
            <img src="../../../assets/vendors/imgs/React-Symbol.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-2 col-6 mt-3">
          <div class="imdg">
            <img src="../../../assets/vendors/imgs/laravel-logo-1.svg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-2 col-6 mt-3">
          <div class="imdg">
            <img src="../../../assets/vendors/imgs/my-sql-logo.svg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-2 col-6 mt-3">
          <div class="imdg">
            <img src="../../../assets/vendors/imgs/Microsoft_.NET_logo.svg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-2 col-6 mt-3">
          <div class="imdg">
            <img src="../../../assets/vendors/imgs/vercel.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-4" *ngFor="let project of projects">
          <div routerLink="/project/{{project.id}}" class="row box">
            <div class="col-lg-6 p-lg-3 p-0">
              <div class="imag img-wrapper">
                <img [src]="project.projectImage" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-6 p-3">
              <div class="txt">
                <h3 class="text-black fs-1">{{project.projectName}}</h3>
                <p class="text-black-50">
                  {{project.projectDescription}}
                </p>
                <div class="d-flex flex-column gap-5 mt-3">
                  <div class="d-flex flex-wrap gap-3">
                    <div class="country">
                      <!-- <img src="../../../assets/vendors/imgs/egypt.webp" width="30" class="img-fluid" alt=""> -->
                      {{project.clientCountry}}
                    </div>
                    <div class="type">
                      {{project.projectType}}
                    </div>
                    <div class="type">
                      {{project.clientIndustry}}
                    </div>
                  </div>
                </div>
                <button class="arrow d-lg-block d-none">
                  <i class="fa-solid fa-arrow-right fs-1 p-1"></i>
                </button>
                <div class="text-center mt-3 d-block d-lg-none ">
                  <button routerLink="/project/{{project.id}}" class="col-12 btn-xpert">
                    View Project
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</main>
<app-footer></app-footer>