<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="container p-5" @fadeInOut>
  <div class="title">
    <h2 class="fw-bold text-success">Add New Member</h2>
  </div>
  <div class="row">
    <form class="form" [formGroup]="teamForm">

      <div class="row info">
        <div class="form-group mt-3 col-lg-6">
          <label for="name">Member Name</label>
          <input type="text" placeholder="Enter Name" class="form-control shadow-none" name="name" id="name"
            formControlName="memberName" required>
        </div>
        <div class="form-group mt-3 col-lg-6">
          <label for="title">Member Title</label>
          <input type="text" placeholder="Enter Title" class="form-control shadow-none" name="title" id="title"
            formControlName="memberTitle" required>
        </div>
      </div>


      <div class="form-group mt-3">
        <label for="image">Member Image</label>
        <input type="file" (change)="onFileSelected($event)" class="form-control shadow-none" id="image"
          formControlName="imageUrl" required>
      </div>

      <div class="text-center mt-3">
        <button type="submit" [disabled]="teamForm.invalid" class="btn-xpert-success shadow-none" (click)="add()">Add
          Member</button>
        <button type="reset" class="btn-xpert-danger ms-3 shadow-none">Reset</button>
      </div>

    </form>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-3 col-12 mt-3" *ngFor="let member of team">
      <div class="card p-2">
        <i class="fa-solid fa-trash" (click)="remove(member.memberId)"></i>
        <img [src]="'http://xpert.runasp.net' + member.imageUrl" class="w-100" height="200" alt="">
        <h5>{{member.memberName}}</h5>
        <p>{{member.memberTitle}}</p>
        <i class="fa-solid fa-pen-to-square" routerLink="/admin/team-edit/{{member.memberId}}"></i>
      </div>
    </div>
  </div>
</div>