.section1 {
  color: black;

  .btn-xpert {
    border-radius: 10px;
  }
}

.section2 {
  .team-card {
    position: relative;
    overflow: hidden;
  }

  .card-img-container {
    position: relative;
    overflow: hidden;
  }

  .card-img-container img {
    transition: transform 0.5s ease;
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
  }

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
    color: white;
    text-align: center;
  }

  .team-card:hover img {
    transform: scale(1.03);
    filter: grayscale(0);
  }

  .team-card:hover .card-overlay {
    opacity: 1;
  }

  .another .team-card {
    position: relative;
    overflow: hidden;
  }

  .another .card-img-container {
    position: relative;
    overflow: hidden;
  }

  .another .card-img-container img {
    transition: transform 0.5s ease;
    width: 100%;
    height: auto;
    display: block;
  }

  .another .card-overlay-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #008170c9;
    padding: 10px;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    color: white;
    text-align: center;
  }

  .another .team-card:hover img {
    transform: scale(1.1);
  }

  .another .team-card:hover .card-overlay-bottom {
    transform: translateY(0);
    opacity: 1;
  }
}

.section3 {
  img {
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.3s;
  }

  img:hover {
    filter: grayscale(0);
  }
}

.section4 {
  .service {
    cursor: pointer;
  }

  .service:hover button {
    background-color: var(--primaryColor);
    border: 2px solid transparent;
  }

  .service:hover {
    i {
      color: white !important;
    }
  }

  button {
    background-color: transparent;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
}

.card-img-top {
  height: 400px !important;
}

.row .client img {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2 !important;
  object-fit: contain !important;
}