<app-navbar></app-navbar>
<main id="about" @fadeInOut>
  <section class="section1 py-5 px-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1 order-2">
          <div class="txt">
            <h2 class="fw-bold fs-1">Why XpertCoder?</h2>
            <p>
              Are you looking for a creative company that will devote all its efforts to your success and the success of
              your website? If the answer is yes, do not worry. We are here to serve you. XpertCoder Company is a
              wonderful electronic partner to achieve the success you seek. Through our long experience in the field of
              electronic marketing and digital solutions, we guarantee that you will work with a team of professionals
              in the world of the Internet.
            </p>
            <p>
              Our company is considered one of the best leading companies in the field of website development and design
              in Egypt and the Middle East. We have long experience in the field of e-marketing, website hosting, and
              mobile application programming
            </p>
          </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-1">
          <div class="imag"><img src="../../../assets/vendors/imgs/Connected world-cuate.webp" class="img-fluid"
              loading="lazy" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section2 py-5 px-3">
    <div class="container">
      <div class="title">
        <h2 class="fw-bold">Our Team</h2>
        <p>
          Work with the top tech talents of Egypt
        </p>
      </div>
      <div class="row">

        <div class="col-lg-3 another mt-3" *ngFor="let member of team">
          <div class="card team-card">
            <div class="card-img-container">
              <img [src]="member.image" class="card-img-top" alt="Team Member">
              <div class="card-overlay-bottom">
                <h5 class="card-title">{{member.name}}</h5>
                <p class="card-text">{{member.title}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section3 py-5 px-3">
    <div class="container">
      <div class="title text-center">
        <h2 class="fw-bold text-black">Our partners in success</h2>
      </div>
      <div class="row pt-3 text-center">
        <div class="col-lg-3 col-md-6 col-12 mt-3" *ngFor="let client of clients">
          <div class="client">
            <img [src]="client.logo" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section4 py-5 px-3">
    <div class="container">
      <div class="row">
        <div routerLink="/services/web" class="col-12 service">
          <hr>
          <div class="row align-items-center">
            <div class="col-lg-3">
              <h3 class="fw-bold text-black">Web Development</h3>
            </div>
            <div class="col-lg-8">
              <p class="text-black-50 p-0 m-0 my-2">Website development encompasses a range of activities aimed at
                building
                and
                maintaining websites. It
                begins with understanding the client's requirements and goals, followed by planning the site's structure
                and layout. Design elements, such as graphics, colors, and typography, are then incorporated to create
                an
                appealing user interface. Development involves coding the website using programming languages like HTML,
                CSS, and JavaScript, and implementing functionality such as forms, databases, and e-commerce
                capabilities.
                Testing ensures the site works correctly across different browsers and devices. Once the site is live,
                ongoing maintenance and updates are necessary to keep it secure and up to date.</p>

            </div>
            <div class="col-lg-1">
              <button class="xpert">
                <i class="fa-solid fa-arrow-right fs-3 text-black p-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div routerLink="/services/mobile" class="col-12 service">
          <hr>
          <div class="row align-items-center">
            <div class="col-lg-3">
              <h3 class="fw-bold text-black">Mobile Development</h3>
            </div>
            <div class="col-lg-8">
              <p class="text-black-50 p-0 m-0 my-2">Website development encompasses a range of activities aimed at
                building
                and
                maintaining websites. It
                begins with understanding the client's requirements and goals, followed by planning the site's structure
                and layout. Design elements, such as graphics, colors, and typography, are then incorporated to create
                an
                appealing user interface. Development involves coding the website using programming languages like HTML,
                CSS, and JavaScript, and implementing functionality such as forms, databases, and e-commerce
                capabilities.
                Testing ensures the site works correctly across different browsers and devices. Once the site is live,
                ongoing maintenance and updates are necessary to keep it secure and up to date.</p>

            </div>
            <div class="col-lg-1">
              <button class="xpert">
                <i class="fa-solid fa-arrow-right fs-3 text-black p-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div routerLink="/services/uiux" class="col-12 service">
          <hr>
          <div class="row align-items-center">
            <div class="col-lg-3">
              <h3 class="fw-bold text-black">UI/UX Design</h3>
            </div>
            <div class="col-lg-8">
              <p class="text-black-50 p-0 m-0 my-2">Website development encompasses a range of activities aimed at
                building
                and
                maintaining websites. It
                begins with understanding the client's requirements and goals, followed by planning the site's structure
                and layout. Design elements, such as graphics, colors, and typography, are then incorporated to create
                an
                appealing user interface. Development involves coding the website using programming languages like HTML,
                CSS, and JavaScript, and implementing functionality such as forms, databases, and e-commerce
                capabilities.
                Testing ensures the site works correctly across different browsers and devices. Once the site is live,
                ongoing maintenance and updates are necessary to keep it secure and up to date.</p>

            </div>
            <div class="col-lg-1">
              <button class="xpert">
                <i class="fa-solid fa-arrow-right fs-3 text-black p-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div routerLink="/services/testing" class="col-12 service">
          <hr>
          <div class="row align-items-center">
            <div class="col-lg-3">
              <h3 class="fw-bold text-black ">Software
                Testing</h3>
            </div>
            <div class="col-lg-8">
              <p class="text-black-50 p-0 m-0 my-2">Website development encompasses a range of activities aimed at
                building
                and
                maintaining websites. It
                begins with understanding the client's requirements and goals, followed by planning the site's structure
                and layout. Design elements, such as graphics, colors, and typography, are then incorporated to create
                an
                appealing user interface. Development involves coding the website using programming languages like HTML,
                CSS, and JavaScript, and implementing functionality such as forms, databases, and e-commerce
                capabilities.
                Testing ensures the site works correctly across different browsers and devices. Once the site is live,
                ongoing maintenance and updates are necessary to keep it secure and up to date.</p>

            </div>
            <div class="col-lg-1">
              <button class="xpert">
                <i class="fa-solid fa-arrow-right fs-3 text-black p-1"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section5 py-5 px-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="txt">
            <h2 class="fs-1 fw-bold m-0">Ready to start your project?</h2>
            <p class="m-0 p-0">
              We're here to help you with your project. Let's get started.
            </p>
          </div>
        </div>
        <div class="col-lg-6 text-end">
          <div class="btnn">
            <button routerLink="/contact" class="btn-xpert-success">Let's Talk</button>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<app-footer></app-footer>