<div class="container p-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="message-card p-4">
        <div class="message-header d-flex justify-content-between align-items-center">
          <h5>Omar Magd</h5>
        </div>

        <div class="message-body mt-4">
          <p><strong>Company Name:</strong> XYZ Tech</p>
          <p><strong>Email:</strong> omar&#64;gmail.com</p>
          <p><strong>Phone:</strong> +1234567890</p>
          <p><strong>Description:</strong> Looking for a web development project.</p>
          <p><strong>Project Budget:</strong> $5000</p>
          <p><strong>Project Type:</strong> Web Development</p>
          <p><strong>attachment:</strong> <a href="cv-link.pdf" class="cv-link fw-bold" target="_blank"> Download</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>