<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="container p-5" @fadeInOut>
  <div class="row">
    <div class="col-lg-12">
      <h3>Select Category to Filter</h3>
      <div class="job-categories">
        <div class="row m-0">
          <div class="col-lg-3 col-md-6 col-6 mt-3" *ngFor="let job of jobCategories">
            <div class="form-check d-flex justify-content-between align-items-center p-0">
              <input class="form-check-input" type="radio" name="job-category" [value]="job.value"
                [(ngModel)]="selectedJobCategory" required />
              <label class="job-option">{{ job.label }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <button class="btn-xpert-success" (click)="filterCareersByCategory()">Filter</button>
        <button class="btn-xpert-danger ms-2" (click)="resetSelection()">Reset</button>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="careers.length > 0  else noCareers">
    <div class="col-lg-4 mt-4" *ngFor="let career of careers">
      <div class="box p-4">
        <div class="upper d-flex justify-content-between gap-3 align-items-center flex-wrap">
          <h5>{{ career.name }}</h5>
          <i class="fa-solid fa-square-xmark fs-4" (click)="remove(career.id)"></i>
        </div>
        <div class="rest mt-4">
          <p>Email : <span class="fw-bold">{{ career.email }}</span></p>
          <p>Title : <span class="fw-bold">{{ career.title }}</span></p>
          <p>Phone : <span class="fw-bold">{{ career.phone }}</span></p>
          <p>Expected Salary : <span class="fw-bold">{{ career.salary }} $</span></p>
          <p>EXP : <span class="fw-bold">{{ career.experience }} Years</span></p>
          <p>CV : <span class="fw-bold"><a href="javascript:void(0)" class="cv-link fw-bold"
                (click)="downloadFile(career.file)">
                Download
              </a></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noCareers>
  <div class="alert alert-danger mt-4">
    <p class="text-center p-0 m-0 text-danger">No careers available at the moment.</p>
  </div>
</ng-template>