.card {
  background-color: transparent;
  border: none;

  i {
    padding: 10px;
    border-radius: 15px;
    background-color: var(--primaryColor);
    color: white;
  }

  h3 {
    font-size: 26px;
  }
}

.section3 {
  .imdg img {
    filter: grayscale(100%);
    transition: 0.2s;
  }

  .imdg:hover img {
    filter: grayscale(0%);
  }

  .box {
    position: relative;
    background-color: #121624;
    border-radius: 24px;
    display: flex;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
  }

  .box:hover {
    background-color: #191d2e;
  }

  .img-wrapper {
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
  }

  @media (max-width:768px) {
    .img-wrapper {
      border-radius: 0;
    }
  }

  .img-wrapper img {
    width: 100%;
    transition: transform 0.5s ease;
  }

  .box:hover img {
    transform: scale(1.05);
  }

  .txt h3,
  .txt p {
    margin: 0;
  }

  .arrow {
    position: absolute;
    bottom: 15px;
    right: 45px;
    background-color: transparent;
    width: 80px;
    height: 80px;
    border: 2px solid #F5F7FA;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }

  .box:hover .arrow {
    background-color: var(--primaryColor);
    color: white;
    transform: translateX(10px);
  }

  .country,
  .type {
    padding: 10px;
    background-color: #0f121d;
    color: white;
    border-radius: 8px;
  }

  .btn-xpert {
    border-radius: 10px;
  }
}