<div class="container p-5" @fadeInOut>
  <div class="title">
    <h2 class="fw-bold text-success">Edit Client</h2>
  </div>
  <div class="row">
    <form [formGroup]="clientForm" class="form">

      <div class="row info">
        <div class="form-group mt-3 col-lg-6">
          <label for="name">Client Name</label>
          <input type="text" class="form-control shadow-none" id="name" formControlName="Name" required>
        </div>
        <div class="form-group mt-3 col-lg-6">
          <label for="title">Client Title</label>
          <input type="text" class="form-control shadow-none" id="title" formControlName="Title" required>
        </div>
      </div>

      <div class="row clientInfo">
        <div class="form-group mt-3 col-lg-6">
          <label for="Image">Client Logo</label>
          <input type="file" (change)="onFileSelected($event)" class="form-control shadow-none" id="Image"
            formControlName="Image" required>
        </div>

        <div class="form-group mt-3 col-lg-6">
          <label for="review">Client Review</label>
          <textarea class="form-control shadow-none" id="review" formControlName="Review" required></textarea>
        </div>

      </div>
      <div class="row clientInfo">
        <div class="form-group mt-3 col-lg-6">
          <label for="number">Client Rating</label>
          <input type="number" class="form-control shadow-none" id="number" placeholder="Enter client number"
            formControlName="Rating" required>
        </div>
      </div>

      <div class="text-center mt-3">
        <button type="button" class="btn-xpert-success shadow-none" [disabled]="clientForm.invalid"
          (click)="update()">Update Client</button>
        <button type="button" class="btn-xpert-danger ms-3 shadow-none" (click)="clientForm.reset()">Reset</button>
      </div>

    </form>
  </div>
</div>