<app-navbar></app-navbar>
<main id="blog">
  <section class="section1 py-5 px-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="fs-1 fw-bold text-white">
            Latest blog posts
          </h2>
          <p class="text-white-50">
            Explore our blog for the latest updates, news, and insights on our work and projects.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card">
            <div class="imag">
              <img src="assets/vendors/imgs/blog1.jpeg" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-white">What is SPA</h4>
                <p class="text-white-50">Single Page Applications (SPAs) are a powerful tool for building modern web
                  applications.</p>
                <div class="date">
                  <small class="text-white-50">October 12, 2024</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>