<app-navbar></app-navbar>
<main id="blog">
  <section class="section1 py-5 px-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="fs-1 fw-bold text-black">
            Latest blog posts
          </h2>
          <p class="text-black-50">
            Explore our blog for the latest updates, news, and insights on our work and projects.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-12 mt-3" *ngFor="let blog of blogs">
          <a [routerLink]="['/blog', blog.id]" class="card text-decoration-none">
            <div class="imag">
              <img [src]="blog.image" class="img-fluid" alt="">
            </div>
            <div>
              <div class="main p-3">
                <h4 class="my-3 text-black">{{blog.title}}</h4>
                <p class="text-black-50">{{blog.description | slice : 10 : 100 }}</p>
                <div class="date">
                  <small class="text-black-50">{{blog.date}}</small>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>