<app-navbar></app-navbar>
<main id="web">

  <section class="section1 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 order-2 order-lg-1">
          <div class="txt">
            <h2 class="fw-bold fs-1 text-white">Mobile Development</h2>
            <p class="text-white-50">
              Mobile development is a revolutionary process that involves creating cross-platform applications
              that can be
              accessed on various devices, such as smartphones, tablets, and computers. Our team of skilled mobile
              developers
              will help you
              build an engaging and user-friendly application that will not only enhance your business's reputation but
              also
              create a strong online presence.
            </p>
          </div>
        </div>
        <div class="col-lg-6  col-12 order-1 order-lg-2">
          <div class="imag">
            <img src="../../../assets/vendors/imgs/Mobile login-rafiki.png" class="img-fluid rounded" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section2 py-5">
    <div class="container">
      <div class="title">
        <h2 class="fw-bold text-white">Why choose us</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fa-chart-column fs-1"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-white">Performance</h3>
              <p class="text-white-50">Ensure fast loading times and seamless interactions with optimized code,
                responsive
                designs, and performance tuning, enhancing user satisfaction and retention.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fs-1 fa-lock"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-white">Security</h3>
              <p class="text-white-50">Protect user data integrity through robust security practices such as
                SSL encryption, firewalls, and regular vulnerability assessments to prevent cyber threats.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fas fs-1 fa-user"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-white">User-Friendly Interfaces</h3>
              <p class="text-white-50">Design intuitive and engaging user interfaces that enhance user experience and
                encourage app adoption.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fas fs-1 fa-sync"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-white">Regular Updates</h3>
              <p class="text-white-50">Ensure your app stays relevant and functional with regular updates and
                maintenance, incorporating user feedback and new features.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fs-1 fa-medal"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-white">Quality</h3>
              <p class="text-white-50">Our mobile applications are passing through different types of testing:
                functional
                testing, integration testing, security testing and load testing.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3">
          <div class="card">
            <div class="icon">
              <i class="fas fs-1 fa-chart-line"></i>
            </div>
            <div class="content">
              <h3 class="my-3 text-white">Analytics and Insights</h3>
              <p class="text-white-50">Implement tools to gather user data and analytics, helping businesses understand
                user behavior and make informed decisions for future updates.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section3 py-5">
    <div class="container">
      <div class="title">
        <h2 class="fw-bold text-white">We've built various projects using <span>different technologies</span>.</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-6 mt-3">
          <div class="imdg">
            <img src="../../../assets/vendors/imgs/flutter-logo-1.svg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-3">
          <div class="imdg">
            <img src="../../../assets/vendors/imgs/Swift-programming-language-1-2.svg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-3">
          <div class="imdg">
            <img src="../../../assets/vendors/imgs/android-logo-15-1.svg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-lg-3 col-6 mt-3">
          <div class="imdg">
            <img src="../../../assets/vendors/imgs/kotlin-1.svg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5">
          <div class="row box p-3">
            <div class="col-lg-6">
              <div class="imag img-wrapper">
                <img src="../../../assets/vendors/imgs/rouh.jpg" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-6">
              <div class="txt">
                <h3 class="text-white fs-1">Rouh</h3>
                <p class="text-white-50">
                  Rouh is a web application built using Angular that allows users to create and share rough sketches.
                  It's a collaborative platform where users can share their designs, discuss ideas, and receive feedback
                  from
                  other users.
                </p>

                <button class="arrow d-lg-block d-none">
                  <i class="fa-solid fa-arrow-right fs-1 text-white p-1"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</main>
<app-footer></app-footer>