#navbar {
  /* height: 97px; */
  /* background-color: white; */
  background-color: #07090DCC;
  backdrop-filter: saturate(150%) blur(15px);
  box-shadow: 0px 4px 10px 0px #00817021;
  transition: 0.3s;
}

.nav-link {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 30px;
  padding: 20px !important;
  transition: 0.2s;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--primaryColor);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: var(--primaryColor);
  border-radius: 10px;
  transition: 0.3s;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 50%;
}

.container {
  margin: 0 auto;
}


.navbar-brand {
  padding: 0 !important;
}

.collapse {
  /* background-color: white; */
  /* background-color: #07090DCC; */
}

.active {
  font-weight: 700;
  color: #00816F !important;
}