<app-navbar></app-navbar>
<main id="project">
  <section class="section1 px-3 py-5">
    <div class="container">
      <div class="row">
        <h2 class="fs-1 fw-bold text-black">
          Employees’ PTO and Leave Tracker Software
        </h2>
        <p class="text-black-50">
          Day Off is a mobile app targeting small and medium-sized companies to help them manage and track employees’
          leave and time off. Using a lightweight mobile app and comprehensive web dashboard, employees can request time
          off and managers will get notified instantly.
        </p>
        <img src="../../../assets/vendors/imgs/dayof.webp" class="img-fluid" alt="">
      </div>
    </div>
  </section>
  <section class="section2 px-3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="about">
            <h3 class="text-black">About client</h3>
            <p class="text-black-50"><span class="fw-bold">Client</span>: Day Off company</p>
            <p class="text-black-50">Our client is based on helping small and medium companies in managing their
              employees in an easy, smooth
              way where both management and employees find it easy to track PTO and earned balance</p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="flag">
            <h5 class="text-black">Country</h5>
            <div class="d-flex gap-2 flex-wrap align-items-center">
              <img src="../../../assets/vendors/imgs/egypt.webp" width="50" alt="">
              <p class="text-black-50 m-0">Egypt</p>
            </div>
            <h5 class="mt-3 text-black">Industry</h5>
            <p class="text-black-50">Administrative and HR management
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section3 px-3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12 mt-3">
          <div class="card p-3" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
            <h3 class="text-black fw-bold fs-2">6 Members</h3>
            <p class="text-black-50">Team</p>
          </div>

        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card p-3" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
            <h3 class="text-black fw-bold fs-2">6 Months</h3>
            <p class="text-black-50">Duration</p>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-3">
          <div class="card p-3" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
            <h3 class="text-black fw-bold fs-2">+5</h3>
            <p class="text-black-50">Rating</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section4 px-3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img src="../../../assets/vendors/imgs/Group-1000003927-1.webp" class="img-fluid rounded" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="section5 px-3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="txt">
            <h3 class="text-black fw-bold">Features</h3>
            <p class="text-black-50">Day off is a small to medium company’s best friend. It is smooth, easy and
              completely configurable where
              HRs and company owners can configure and manage their company leave type rules whether they want their
              employees’ balance in hours or days, accept requests or send announcements. Always be updated!
            </p>
            <div class="list row">
              <div class="col-lg-6 mt-3">
                <div class="feature d-flex flex-column">
                  <div class="num">
                    <h6>01</h6>
                  </div>
                  <div class="text">
                    <p class="text-black-50 fw-bold">Asset management</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mt-3">
                <div class="feature d-flex flex-column">
                  <div class="num">
                    <h6>02</h6>
                  </div>
                  <div class="text">
                    <p class="text-black-50 fw-bold">Set Working Days
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mt-3">
                <div class="feature d-flex flex-column">
                  <div class="num">
                    <h6>03</h6>
                  </div>
                  <div class="text">
                    <p class="text-black-50 fw-bold">Customize leave types
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mt-3">
                <div class="feature d-flex flex-column">
                  <div class="num">
                    <h6>04</h6>
                  </div>
                  <div class="text">
                    <p class="text-black-50 fw-bold">Send Requests
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mt-3">
                <div class="feature d-flex flex-column">
                  <div class="num">
                    <h6>05</h6>
                  </div>
                  <div class="text">
                    <p class="text-black-50 fw-bold">Create teams
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mt-3">
                <div class="feature d-flex flex-column">
                  <div class="num">
                    <h6>06</h6>
                  </div>
                  <div class="text">
                    <p class="text-black-50 fw-bold">Days Off Balance
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mt-3">
                <div class="feature d-flex flex-column">
                  <div class="num">
                    <h6>07</h6>
                  </div>
                  <div class="text">
                    <p class="text-black-50 fw-bold">Always In Sync
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mt-3">
                <div class="feature d-flex flex-column">
                  <div class="num">
                    <h6>08</h6>
                  </div>
                  <div class="text">
                    <p class="text-black-50 fw-bold">Announcements Tool
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-lg-block d-none">
          <div class="imdg">
            <img src="../../../assets/vendors/imgs/dayof.webp" class="img-fluid" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="section6 px-3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="review">
            <h3 class="fw-bold text-black">What client say</h3>
            <div class="carde">
              <div class="tope  pb-3">
                <i class="fa-solid fa-quote-left"></i>
                <p class="text-black-50">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum labore libero
                  aut? Voluptates, voluptatum inventore quasi ipsa modi accusantium est alias eveniet, iure
                  reprehenderit
                  aperiam possimus repellendus odio in fugit.</p>
                <div class="txt">
                  <h6 class="p-0 m-0 text-black">Mahmoud Ahmed</h6>
                </div>
              </div>
              <div class="btm d-flex justify-content-start align-items-center flex-wrap">
                <i class="fa-solid fa-star" style="color: gold;"></i>
                <i class="fa-solid fa-star ms-1" style="color: gold;"></i>
                <i class="fa-solid fa-star ms-1" style="color: gold;"></i>
                <i class="fa-solid fa-star ms-1" style="color: gold;"></i>
                <i class="fa-solid fa-star ms-1" style="color: gold;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section7 px-3 py-5">
    <div class="container">
      <div class="title">
        <h3 class="text-black fw-bold fs-1">See More</h3>
      </div>
      <div class="row">
        <div class="col-12 mt-2">
          <div class="row box">

            <div class="col-lg-6 p-lg-3 p-0">
              <div class="imag img-wrapper">
                <img src="../../../assets/vendors/imgs/rouh.jpg" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-6 p-3">
              <div class="txt">
                <h3 class="text-black fs-1">Rouh</h3>
                <p class="text-black-50">
                  Rouh is a web application built using Angular that allows users to create and share rough sketches.
                  It's a collaborative platform where users can share their designs, discuss ideas, and receive feedback
                  from
                  other users.
                </p>
                <div class="d-flex flex-column gap-5 mt-3">
                  <div class="d-flex flex-wrap gap-3">
                    <div class="country">
                      <img src="../../../assets/vendors/imgs/egypt.webp" width="30" class="img-fluid" alt=""> Egypt
                    </div>
                    <div class="type">
                      Web Development
                    </div>
                    <div class="type">
                      HR management
                    </div>
                  </div>
                </div>
                <button class="arrow d-lg-block d-none">
                  <i class="fa-solid fa-arrow-right fs-1 text-black p-1"></i>
                </button>
                <div class="text-center mt-3 d-block d-lg-none ">
                  <button class="col-12 btn-xpert">
                    View Project
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>