.project {
  min-height: 80vh;
}

.card {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-out;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card:hover {
  cursor: pointer;
}


.num h6 {
  background-color: var(--primaryColor);
  color: white;
  width: 50px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 1.5rem;
}

.text p {
  color: white;
  font-size: 24px;
}

.fa-quote-left {
  background-color: var(--primaryColor);
  color: white;
  padding: 5px;
  width: 25px;
  border-radius: 100%;

}

.imdg {
  position: sticky;
  top: 100px;
}

.section7 {

  .box {
    position: relative;
    background-color: whitesmoke;
    border-radius: 24px;
    display: flex;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
  }

  .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.10);

  }

  .img-wrapper {
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;

    img {
      max-height: 270px;
    }
  }

  @media (max-width:768px) {
    .img-wrapper {
      border-radius: 0;
    }
  }

  .img-wrapper img {
    width: 100%;
    transition: transform 0.5s ease;
  }

  .box:hover img {
    transform: scale(1.05);
  }

  .txt h3,
  .txt p {
    margin: 0;
  }

  .arrow {
    position: absolute;
    bottom: 15px;
    right: 45px;
    background-color: transparent;
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }

  .box:hover .arrow {
    background-color: var(--primaryColor);
    color: white;
    transform: translateX(10px);
    border: transparent 1px solid;
    ;
  }

  .country,
  .type,
  .industry {
    padding: 10px;
    background-color: #eeeeee;
    color: black;
    border-radius: 8px;
  }

  .btn-xpert {
    border-radius: 10px;
  }
}


.btn-conteiner {
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
  position: absolute;
  bottom: 10px;
  right: 5px;

  .btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    font-weight: 600;
    font-size: 30px;
    color: black;
    background: transparent;
    transition: 1s;

    .icon-arrow {
      width: 20px;
      margin-left: 15px;
      position: relative;
      top: 6%;
      transition: 0.5s;
      margin-right: 0px;
      transform: scale(0.6);
    }
  }
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.box:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.box:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.box:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--primaryColor);
  }

  100% {
    fill: white;
  }
}