<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<app-navbar></app-navbar>
<main id="project" @fadeInOut>
  <section class="section1 px-3 py-5">
    <div class="container">
      <div class="row">
        <h2 class="fs-1 fw-bold text-black">{{ allProjects.projectName }}</h2>
        <p class="text-black-50">{{ allProjects.projectDescription }}</p>
        <img [src]="allProjects.cLient.image" class="img-fluid" alt="">
      </div>
    </div>
  </section>

  <section class="section2 px-3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="about">
            <h3 class="text-black">About client</h3>
            <p class="text-black-50"><span class="fw-bold">Client</span>: {{ allProjects.cLient.name }} company</p>
            <p class="text-black-50">Our client is based on helping small and medium companies in managing their
              employees in an easy, smooth way where both management and employees find it easy to track PTO and earned
              balance</p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="flag">
            <h5 class="text-black">Country</h5>
            <div class="d-flex gap-2 flex-wrap align-items-center">
              <img [src]="allProjects.cLient.country.image" width="50" alt="">
              <p class="text-black-50 m-0">{{ allProjects.cLient.country.name }}</p>
            </div>
            <h5 class="mt-3 text-black">Industry</h5>
            <p class="text-black-50">{{ allProjects.clientIndustry }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section3 px-3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12 mt-3"
          *ngFor="let stat of [{title: 'Members', value: allProjects.members}, {title: 'Duration', value: allProjects.duration + ' Months'}, {title: 'Rating', value: '+ ' + allProjects.cLient.rating}]">
          <div class="card p-3" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
            <h3 class="text-black fw-bold fs-2">{{ stat.value }}</h3>
            <p class="text-black-50">{{ stat.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section4 px-3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img [src]="allProjects.image" class="img-fluid rounded w-100" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="section5 px-3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="txt">
            <h3 class="text-black fw-bold">Features</h3>
            <!-- <p class="text-black-50">Day off is a small to medium company’s best friend. It is smooth, easy, and
              completely configurable...</p> -->

            <div class="list row">
              <p class=" fs-5" [innerHTML]="allProjects.features"></p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-lg-block d-none">
          <div class="imdg">
            <img [src]="allProjects.cLient.image" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section6 px-3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="review">
            <h3 class="fw-bold text-black">What client say</h3>
            <div class="carde">
              <div class="tope pb-3">
                <i class="fa-solid fa-quote-left"></i>
                <p class="text-black-50">{{ allProjects.cLient.review }}</p>
                <div class="txt">
                  <h6 class="p-0 m-0 text-black">{{ allProjects.cLient.name }}</h6>
                </div>
              </div>
              <div class="btm d-flex justify-content-start align-items-center flex-wrap">
                <i class="fa-solid fa-star" style="color: gold;"></i>
                <i class="fa-solid fa-star ms-1" style="color: gold;"></i>
                <i class="fa-solid fa-star ms-1" style="color: gold;"></i>
                <i class="fa-solid fa-star ms-1" style="color: gold;"></i>
                <i class="fa-solid fa-star ms-1" style="color: gold;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section7 px-3 py-5">
    <div class="container">
      <div class="title">
        <h3 class="text-black fw-bold fs-1">See More</h3>
      </div>
      <div class="row" *ngIf="relatedProjects.length > 0 else noRelated">
        <div *ngFor="let project of relatedProjects" class="col-12 mt-2">
          <div (click)="navigateToRelatedProject(project.id)" class="row box">
            <div class="col-lg-6 p-lg-3 p-0">
              <div class="imag img-wrapper">
                <img [src]="project.image" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-6 p-3">
              <div class="txt">
                <h3 class="text-black fs-1">{{project.projectName}}</h3>
                <p class="text-black-50">
                  {{project.projectDescription}}
                </p>
                <div class="d-flex flex-column gap-5 mt-3">
                  <div class="d-flex flex-wrap gap-3">
                    <div class="country">
                      <img [src]="project.cLient.country.image" width="30" class="img-fluid" alt="">
                      {{project.cLient.country.name}}
                    </div>
                    <div class="type m-0">
                      {{project.projectType}}
                    </div>
                    <div class="industry m-0">
                      {{project.clientIndustry}}
                    </div>
                  </div>
                </div>
                <div class="text-center mt-3 d-block d-lg-none ">
                  <button (click)="navigateToRelatedProject(project.id)" class="col-12 btn-xpert">
                    View Project
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>
<app-footer></app-footer>
<ng-template #noRelated>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>No related projects found.</p>
      </div>
    </div>
  </div>
</ng-template>