.container {
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
}

h3 {
  color: white;
  font-size: 35px;
  margin-bottom: 20px;
}

.form-control {
  background-color: transparent;
  color: #C1C1C1;
  font-size: 35px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #C1C1C1;
  box-shadow: none;
  transition: 0.3s;
}

.form-control:hover {
  border-bottom: 1px solid #838383;
}

.form-control:focus {
  border-bottom: 1px solid white;
}

.form-control::placeholder {
  font-size: 35px;
  color: #C1C1C1;
}

.job-option {
  position: relative;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  transition: all 0.3s;
  display: inline-block;
  width: 100%;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}

input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

input[type="radio"]:disabled {
  cursor: not-allowed;
}

input[type="radio"]:checked+.job-option {
  background-color: white;
  color: #838383;
  border-color: #838383;
  font-weight: bold;
}


.col-md-3 {
  position: relative;
  z-index: 1;
}

.form-control,
.btn-xpert {
  position: relative;
  z-index: 5;
}

.custom-file-upload {
  position: relative;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.upload-label {
  position: relative;
  font-size: 22px;
  color: white;
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.upload-label i {
  margin-right: 10px;
}

.form-control-file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.btn-xpert {
  border-radius: 5px;
}