<app-navbar></app-navbar>
<main id="join" @fadeInOut>
  <section class="section1 py-5 px-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="txt">
            <h2 class="fw-bold fs-1 text-black">
              Join our team of experts and grow your business
            </h2>
            <p class="text-black-50">
              Ready to revolutionize your business with expertise in web and mobile development? Let's work together to
              create secure, scalable digital solutions that work across all devices.
            </p>
          </div>
        </div>
        <!-- Job application form -->
        <form (ngSubmit)="submitApplication()">
          <h3>Get your job now in XpertCoder</h3>
          <div class="row mb-5 job-categories">
            <!-- Job category selection -->
            <div class="col-md-3 mt-3" *ngFor="let job of jobCategories">
              <input type="radio" name="job-category" [(ngModel)]="career.title" [value]="job.value" required>
              <label class="job-option">{{ job.label }}</label>
            </div>
          </div>

          <!-- Form inputs for user data -->
          <div class="mb-5">
            <input type="text" class="form-control" id="name" placeholder="Your Name" [(ngModel)]="career.name"
              name="name" required>
          </div>
          <div class="mb-5">
            <input type="email" class="form-control" id="email" placeholder="Your Email" [(ngModel)]="career.email"
              name="email" required>
          </div>
          <div class="mb-5">
            <input type="tel" class="form-control" id="phone" placeholder="Your Phone" [(ngModel)]="career.phone"
              name="phone" required>
          </div>
          <div class="mb-5">
            <input type="number" class="form-control" id="salary" placeholder="Expected Salary"
              [(ngModel)]="career.salary" name="salary" required>
          </div>
          <div class="mb-5">
            <input type="number" class="form-control" id="exp" placeholder="Years Of Experience"
              [(ngModel)]="career.experience" name="experience" required>
          </div>
          <div class="mb-5 custom-file-upload">
            <label for="resume" class="upload-label">
              <i class="fa fa-paperclip"></i> Upload your CV
            </label>
            <input type="file" id="resume" class="form-control-file" (change)="handleFileInput($event)" accept=".pdf"
              required>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn-xpert" [disabled]="!isSubmitEnabled()">Submit Application</button>
        </form>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>