<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<app-navbar></app-navbar>
<main id="join" @fadeInOut>
  <section class="section1 py-5 px-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="txt">
            <h2 class="fw-bold fs-1 text-black">
              Join our team of experts and grow your business
            </h2>
            <p class="text-black-50">
              Ready to revolutionize your business with expertise in web and mobile development? Let's work together to
              create secure, scalable digital solutions that work across all devices.
            </p>
          </div>
        </div>
        <form [formGroup]="joinForm" (ngSubmit)="onSubmit()">
          <h3>Get your job now in XpertCoder</h3>

          <div class="row mb-5 job-categories">
            <div class="col-md-3 mt-3">
              <input type="radio" formControlName="Title" value="FrontEndDeveloper" required>
              <label class="job-option">Front End Developer</label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" formControlName="Title" value="BackEndDeveloper" required>
              <label class="job-option">Back End Developer</label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" formControlName="Title" value="FlutterDeveloper" required>
              <label class="job-option">Flutter Developer</label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" formControlName="Title" value="UiUxDesign" required>
              <label class="job-option">Ui / Ux Designer</label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" formControlName="Title" value="Sales" required>
              <label class="job-option">Sales</label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" formControlName="Title" value="EMarketer" required>
              <label class="job-option">E Marketer</label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" formControlName="Title" value="VideoEditor" required>
              <label class="job-option">Video Editor</label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" formControlName="Title" value="GraphicDesigner" required>
              <label class="job-option">Graphic Designer</label>
            </div>
          </div>

          <div class="mb-5">
            <input type="text" class="form-control" id="name" placeholder="Your Name" formControlName="Name" required>
          </div>
          <div class="mb-5">
            <input type="email" class="form-control" id="email" placeholder="Your Email" formControlName="Email"
              required>
          </div>
          <div class="mb-5">
            <input type="tel" class="form-control" id="phone" placeholder="Your Phone" formControlName="Phone" required>
          </div>
          <div class="mb-5">
            <input type="number" class="form-control" id="salary" placeholder="Expected Salary" formControlName="Salary"
              required>
          </div>
          <div class="mb-5">
            <input type="number" class="form-control" id="exp" placeholder="Years Of Experience"
              formControlName="Experience" required>
          </div>
          <div class="mb-5 custom-file-upload">
            <label for="resume" class="upload-label">
              <i class="fa fa-paperclip"></i> Upload your CV
            </label>
            <input formControlName="File" type="file" id="resume" class="form-control-file"
              (change)="onFileSelected($event)" accept=".pdf" required>
          </div>

          <button type="submit" class="btn-xpert" [disabled]="joinForm.invalid">Submit Application</button>
        </form>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>