<app-navbar></app-navbar>
<main id="join">
  <section class="section1 py-5 px-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="txt">
            <h2 class="fw-bold fs-1 text-white">
              Join our team of experts and grow your business
            </h2>
            <p class="text-white-50">
              Ready to revolutionize your business with expertise in web and mobile development? Let's work together to
              create
              secure, scalable digital solutions that work across all devices.
            </p>
          </div>
        </div>
        <form>
          <h3>Get your job now in XpertCoder</h3>
          <div class="row mb-5 job-categories">
            <div class="col-md-3 mt-3">
              <input type="radio" name="job-category" disabled value="Front-end Developer">
              <label class="job-option">
                Front-end Developer
              </label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" name="job-category" disabled value="Back-end Developer">
              <label class="job-option">
                Back-end Developer
              </label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" name="job-category" disabled value="UI & UX Design">
              <label class="job-option">
                UI & UX Design
              </label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" name="job-category" disabled value="Flutter Developer">
              <label class="job-option">
                Flutter Developer
              </label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" name="job-category" value="E-Marketer">
              <label class="job-option">
                E-Marketer
              </label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" name="job-category" value="Sales">
              <label class="job-option">
                Sales
              </label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" name="job-category" value="Video Editor">
              <label class="job-option">
                Video Editor
              </label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" name="job-category" value="Graphic Designer">
              <label class="job-option">
                Graphic Designer
              </label>
            </div>
          </div>

          <div class="mb-5">
            <input type="text" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="mb-5">
            <input type="email" class="form-control" id="email" placeholder="Your Email" required>
          </div>
          <div class="mb-5">
            <input type="tel" class="form-control" id="phone" placeholder="Your Phone" required>
          </div>
          <div class="mb-5">
            <input type="number" class="form-control" id="salary" placeholder="Expected Salary" required>
          </div>
          <div class="mb-5">
            <input type="number" class="form-control" id="exp" placeholder="Years Of Experience" required>
          </div>
          <div class="mb-5 custom-file-upload">
            <label for="resume" class="upload-label">
              <i class="fa fa-paperclip"></i> Upload your CV
            </label>
            <input type="file" id="resume" class="form-control-file" required>
          </div>
          <button type="submit" class="btn-xpert">Submit Application</button>
        </form>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>