<nav id="navbar" class="navbar navbar-expand-lg bg-body-black sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="assets/vendors/imgs/logo.png" alt="" class="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-lg-start text-center" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link effect" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link effect" routerLink="/about" routerLinkActive="active">About us</a>
        </li>

        <li class="nav-item dropdown d-none d-lg-block">
          <a class="nav-link text-black dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/web">Web Development</a></li>
            <li><a class="dropdown-item" routerLink="/mobile">Mobile Development</a></li>
            <li><a class="dropdown-item" routerLink="/ui">UI/UX Design</a></li>
            <li><a class="dropdown-item" routerLink="/testing">Software Testing</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown d-block d-lg-none">
          <a class="nav-link text-black" role="button">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/web">Web Development</a></li>
            <li><a class="dropdown-item" routerLink="/mobile">Mobile Development</a></li>
            <li><a class="dropdown-item" routerLink="/ui">UI/UX Design</a></li>
            <li><a class="dropdown-item" routerLink="/testing">Software Testing</a></li>
          </ul>
        </li>


        <li class="nav-item ">
          <a class="nav-link effect" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link effect" routerLink="/join" routerLinkActive="active">Join Us</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link effect" routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
      </ul>
      <form>
        <button class="btn-xpert" routerLink="/contact">Contact Us</button>
      </form>

    </div>
  </div>
</nav>