<app-navbar></app-navbar>
<main id="contact" @fadeInOut>
  <section class="section1 py-5 px-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="txt">
            <h2 class="fw-bold fs-1 text-black">
              Contact Us
            </h2>
            <p class="text-black-50">
              Feel free to contact us and we will get back to you as soon as we can.
            </p>
          </div>
        </div>
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <div class="row mb-5 job-categories">
            <div class="col-md-4 mt-3">
              <input type="radio" name="job-category" value="Web Design and Development" [(ngModel)]="message.type"
                required>
              <label class="job-option">Web Design and Development</label>
            </div>
            <div class="col-md-4 mt-3">
              <input type="radio" name="job-category" value="Mobile Development" [(ngModel)]="message.type" required>
              <label class="job-option">Mobile Development</label>
            </div>
            <div class="col-md-4 mt-3">
              <input type="radio" name="job-category" value="Software Testing" [(ngModel)]="message.type" required>
              <label class="job-option">Software Testing</label>
            </div>
          </div>

          <div class="row">
            <div class="mb-5 col-lg-6 col-12">
              <input type="text" class="form-control" id="name" placeholder="Your Name" [(ngModel)]="message.name"
                name="name" required>
            </div>
            <div class="mb-5 col-lg-6 col-12">
              <input type="text" class="form-control" id="company" placeholder="Your Company"
                [(ngModel)]="message.companyName" name="companyName" required>
            </div>
          </div>
          <div class="row">
            <div class="mb-5 col-lg-6 col-12">
              <input type="email" class="form-control" id="email" placeholder="Your Email" [(ngModel)]="message.email"
                name="email" required>
            </div>
            <div class="mb-5 col-lg-6 col-12">
              <input type="tel" class="form-control" id="phone" placeholder="Your Phone" [(ngModel)]="message.phone"
                name="phone" required>
            </div>
          </div>
          <div class="mb-5 col-lg-12">
            <input type="text" class="form-control" id="project" placeholder="Tell us about project"
              [(ngModel)]="message.description" name="description" required>
          </div>

          <div class="row mb-5 job-categories">
            <label class="budget">Project Budget (EGP)</label>
            <div class="col-md-3 mt-3">
              <input type="radio" name="budget-category" value="20k - 30k" [(ngModel)]="message.budget" required>
              <label class="job-option">20k - 30k</label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" name="budget-category" value="30k - 50k" [(ngModel)]="message.budget" required>
              <label class="job-option">30k - 50k</label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" name="budget-category" value="50k - 80k" [(ngModel)]="message.budget" required>
              <label class="job-option">50k - 80k</label>
            </div>
            <div class="col-md-3 mt-3">
              <input type="radio" name="budget-category" value="> 80k" [(ngModel)]="message.budget" required>
              <label class="job-option">> 80k</label>
            </div>
          </div>

          <div class="mb-5 custom-file-upload">
            <label for="resume" class="upload-label">
              <i class="fa fa-paperclip"></i> Add attachment
            </label>
            <input type="file" id="resume" (change)="onFileSelect($event)" class="form-control-file" accept=".pdf"
              required>
          </div>
          <button type="submit" class="btn-xpert" [disabled]="contactForm.invalid">Send Request</button>
        </form>

      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>