<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="container p-5" @fadeInOut>
  <div class="row">
    <form [formGroup]="projectForm" (ngSubmit)="update()" class="container mt-4">
      <h2 class="mb-4">Edit Project</h2>

      <div class="mb-3">
        <label for="projectName" class="form-label">Project Name:</label>
        <input id="projectName" formControlName="ProjectName" class="form-control shadow-none" />
        <div *ngIf="projectForm.get('projectName')?.invalid && projectForm.get('ProjectName')?.touched"
          class="text-danger">
          Project Name is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="projectDescription" class="form-label">Project Description:</label>
        <textarea id="projectDescription" formControlName="ProjectDescription" class="form-control shadow-none"
          rows="4"></textarea>
        <div *ngIf="projectForm.get('projectDescription')?.invalid && projectForm.get('ProjectDescription')?.touched"
          class="text-danger">
          Project Description is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="ProjectType" class="form-label">Project Type:</label>
        <select id="ProjectType" formControlName="ProjectType" class="form-select shadow-none">
          <option value="">Select project type</option>
          <option value="Web">Web Development</option>
          <option value="Mobile">Mobile Development</option>
          <option value="Ui">UI/UX Design</option>
          <option value="SoftwareTesting">Software Testing</option>
        </select>
        <div *ngIf="projectForm.get('ProjectType')?.invalid && projectForm.get('ProjectType')?.touched"
          class="text-danger">
          Project Type is required.
        </div>
      </div>

      <div class="row my-2">
        <!-- <div class="col-lg-6">
          <div class="form-group">
            <label for="client">Select Client</label>
            <select class="form-select shadow-none" formControlName="cLientId" required>
              <option value="" disabled>Select Client</option>
              <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
            </select>
          </div>
        </div> -->
        <div class="col-lg-12">
          <label for="ClientIndustry" class="form-label">Client Industry:</label>
          <input id="ClientIndustry" formControlName="ClientIndustry" class="form-control shadow-none" />
          <div *ngIf="projectForm.get('ClientIndustry')?.invalid && projectForm.get('ClientIndustry')?.touched"
            class="text-danger">
            Client Industry is required.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="projectDuration" class="form-label">Project Duration (in months):</label>
            <input type="number" id="projectDuration" formControlName="Duration" class="form-control shadow-none" />
            <div *ngIf="projectForm.get('projectDuration')?.invalid && projectForm.get('projectDuration')?.touched"
              class="text-danger">
              Project Duration is required.
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="mb-3">
            <label for="members" class="form-label">Number of Members:</label>
            <input type="number" id="members" formControlName="Members" class="form-control shadow-none" />
            <div *ngIf="projectForm.get('members')?.invalid && projectForm.get('members')?.touched" class="text-danger">
              Members count is required.
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-1">
        <label for="Features" class="form-label">Project Features</label>
        <p-editor id="features" formControlName="Features" [style]="{ height: '300px' }">
        </p-editor>
        <div *ngIf="projectForm.get('Features')?.invalid && projectForm.get('Features')?.touched" class="text-danger">
          Features is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="Image" class="form-label">Project Image:</label>
        <input type="file" (change)="onFileSelected($event)" class="form-control shadow-none" id="Image"
          formControlName="Image" required>
        <div *ngIf="projectForm.get('Image')?.invalid && projectForm.get('Image')?.touched" class="text-danger">
          Project Image is required.
        </div>
      </div>

      <div class="text-center">
        <button type="submit" [disabled]="projectForm.invalid" class="btn-xpert-success"
          [disabled]="projectForm.invalid">Update Project</button>
        <button type="reset" class="btn-xpert-danger ms-3">Reset</button>
      </div>
    </form>
  </div>
</div>