.box {
  border: 1px solid white;
  border-radius: 10px;

  img {
    overflow: hidden;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  @media (max-width:768px) {
    img {
      border-top-left-radius: 9px;
      border-bottom-right-radius: 0px;
    }
  }

  .country,
  .type {
    padding: 10px;
    border: 1px solid white;
    color: white;
  }

  .arrow {
    color: white;
  }

  .fa-solid {
    transition: 0.3s;
  }

}

.box:hover .fa-solid {
  transform: translateX(10px);
}