#portfolio {
  min-height: 80vh;
}

.box {
  position: relative;
  background-color: whitesmoke;
  border-radius: 24px;
  display: flex;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);

}

.img-wrapper {
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

@media (max-width:768px) {
  .img-wrapper {
    border-radius: 0;
  }
}

.img-wrapper img {
  width: 100%;
  transition: transform 0.5s ease;
}

.box:hover .img-wrapper img {
  transform: scale(1.05);
}

.txt h3,
.txt p {
  margin: 0;
}

.arrow {
  position: absolute;
  bottom: 15px;
  right: 45px;
  background-color: transparent;
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.box:hover .arrow {
  background-color: var(--primaryColor);
  color: white;
  transform: translateX(10px);
  border-color: transparent;
}

.country,
.type {
  padding: 10px;
  background-color: #F5F7FA;
  color: black;
  border-radius: 8px;
}

.btn-xpert {
  border-radius: 10px;
}

.btn-conteiner {
  display: flex;
  justify-content: end;

  .btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    font-weight: 600;
    font-size: 30px;
    color: black;
    background: transparent;
    transition: 1s;

    .icon-arrow {
      width: 20px;
      margin-left: 15px;
      position: relative;
      top: 6%;
      transition: 0.5s;
      margin-right: 0px;
      transform: scale(0.6);
    }
  }
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.box:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.box:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.box:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--primaryColor);
  }

  100% {
    fill: white;
  }
}

.another {
  display: flex;
  justify-content: end;
  transform: translateX(-10px);
}