<app-navbar></app-navbar>
<main id="portfolio">
  <section class="section1 py-5 px-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="txt">
            <h2 class="fw-bold fs-1 text-white">Creating secure, scalable digital solutions.
            </h2>
            <p class="text-white-50">
              Explore our portfolio of work with leading brands, expanding companies, and innovative startups.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section2 py-5 px-3">
    <div class="container">
      <div class="row">
        <div class="col-12 mt-2">
          <div class="row box">
            <div class="col-lg-6 p-lg-3 p-0">
              <div class="imag img-wrapper">
                <img src="../../../assets/vendors/imgs/rouh.jpg" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-lg-6 p-3">
              <div class="txt">
                <h3 class="text-white fs-1">Rouh</h3>
                <p class="text-white-50">
                  Rouh is a web application built using Angular that allows users to create and share rough sketches.
                  It's a collaborative platform where users can share their designs, discuss ideas, and receive feedback
                  from
                  other users.
                </p>
                <div class="d-flex flex-column gap-5 mt-3">
                  <div class="d-flex flex-wrap gap-3">
                    <div class="country">
                      <img src="../../../assets/vendors/imgs/egypt.webp" width="30" class="img-fluid" alt=""> Egypt
                    </div>
                    <div class="type">
                      Web Development
                    </div>
                    <div class="type">
                      HR management
                    </div>
                  </div>
                </div>
                <button class="arrow d-lg-block d-none">
                  <i class="fa-solid fa-arrow-right fs-1 text-white p-1"></i>
                </button>
                <div class="text-center mt-3 d-block d-lg-none ">
                  <button class="col-12 btn-xpert">
                    View Project
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>