<footer class="pt-3">
  <div class="container">
    <div class="row">
      <!-- <div class="col-10 m-auto">
        <div class="title">
          <h4>Newsletter</h4>
        </div>
        <form class="d-flex align-items-center ">
          <input type="email" class="form-control mb-2 shadow-none" placeholder="Enter your email">
          <button type="submit" class="btn-xpert">Subscribe</button>
        </form>
      </div> -->
      <div class="col-lg-3 col-md-6 col-12">
        <div class="title">
          <img src="../../../assets/vendors/imgs/logo.png" class="img-fluid pb-3" alt="">
        </div>
        <p class="text-black-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mauris id velit
          fringilla
          gravida.</p>
        <div class="social">
          <a routerLink="/"><i class="fa-brands fa-facebook"></i></a>
          <a routerLink="/"><i class="fa-brands fa-linkedin"></i></a>
          <a routerLink="/"><i class="fa-brands fa-instagram"></i></a>
          <a routerLink="/"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6">
        <ul>
          <div class="title">
            <h4 class="text-black">Services</h4>
          </div>
          <li><a class="text-decoration-none text-black-50" routerLink="/web">Web Development</a></li>
          <li><a class="text-decoration-none text-black-50" routerLink="/mobile">Mobile Development</a></li>
          <li><a class="text-decoration-none text-black-50" routerLink="/ui">UI/UX Design</a></li>
          <li><a class="text-decoration-none text-black-50" routerLink="/testing">Software Testing</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-6">
        <ul>
          <div class="title">
            <h4 class="text-black">Company</h4>
          </div>
          <li><a class="text-decoration-none text-black-50" routerLink="/about">About us</a></li>
          <li><a class="text-decoration-none text-black-50" routerLink="/portfolio">Portfolio</a></li>
          <li><a class="text-decoration-none text-black-50" routerLink="/join">Join us</a></li>
          <li><a class="text-decoration-none text-black-50" routerLink="/contact">Contact us</a></li>
          <li><a class="text-decoration-none text-black-50" routerLink="/blog">Blog</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-6">
        <ul class=" text-black">
          <div class="title">
            <h4>Contact Us</h4>
          </div>
          <li>
            <i class="fas me-2 fa-map-marker-alt"></i>
            <span>59 Iran ST, Cairo, Egypt</span>
          </li>
          <li>
            <i class="fas me-2 fa-phone-alt"></i>
            <span>(123) 456-7890</span>
          </li>
          <li>
            <i class="fas me-2 fa-envelope"></i>
            <span>infoexample.com</span>
          </li>
        </ul>
      </div>
      <div class="col-12 text-center">
        <p class="text-black-50">&copy; 2024 XpertCoder. All rights reserved.</p>
      </div>
    </div>
  </div>

</footer>