<app-navbar></app-navbar>
<main id="blog" @fadeInOut>
  <section class="section1 p-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="fs-1 fw-bold text-black text-center">
            {{ blog.title }}
          </h2>
          <p class="text-black-50 text-center">
            Published on: {{ blog.date | date: 'yyyy-MM-dd' }}
          </p>
          <div class="text-center">
            <img [src]="blog.image" class="img-fluid" alt="">
          </div>
          <div class="mt-3">
            <p class="text-black-50" [innerHTML]="blog.description"></p>
          </div>
        </div>
        <div class="col-12">
          <div class="title">
            <h3 class="fs-2 fw-bold text-black">Related Posts</h3>
            <div class="row">
              <div class="col-lg-4 col-12 mt-3" *ngFor="let blog of relatedBlogs">
                <a [routerLink]="['/blog', blog.id]" class="card text-decoration-none">
                  <div class="imag">
                    <img [src]="blog.image" class="img-fluid" alt="">
                  </div>
                  <div>
                    <div class="main p-3">
                      <h4 class="my-3 text-black">{{blog.title}}</h4>
                      <p class="text-black-50" [innerHTML]="blog.description | stripHtmlPipe | slice: 0: 160"></p>
                      <div class="date">
                        <small class="text-black-50">{{blog.date}}</small>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>