#blog {
  min-height: 80vh;
}

.card {
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.15);
  transition: 0.3s;

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
  }
}

.card:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.17);

  img {
    filter: brightness(115%);
  }
}

.text-center img {
  width: 100% !important;
  height: 400px !important;
}

@media (max-width: 767px) {
  .text-center img {
    height: auto !important;
  }
}