<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="admin-layout" @fadeInOut>
  <aside *ngIf="showSidebar" class="aside-bar text-white d-lg-block d-none">
    <div class="logo my-3">
      <img routerLink="/home" src="assets/vendors/imgs/Logo-White.png" class="img-fluid" alt="">
    </div>
    <div class="menu">
      <ul class="text-start na mt-5">
        <!-- <li class="d-flex align-items-center ms-3 mt-2" routerLinkActive="active">
          <i class="fa-solid fa-circle fs-4"></i> <a class="p-0 m-0" routerLink="/admin">Dashboard</a>
        </li> -->
        <li class="d-flex align-items-center ms-3 mt-2" routerLink="/admin/projects" routerLinkActive="activ">
          <i class="fa-solid ps-3 fa-briefcase fs-4"></i>
          <a class="p-0 m-0">Projects</a>
        </li>
        <li class="d-flex align-items-center ms-3 mt-2" routerLink="/admin/blogs" routerLinkActive="activ">
          <i class="fa-solid ps-3 fa-blog fs-4"></i> <a class="p-0 m-0">Blogs</a>
        </li>
        <li class="d-flex align-items-center ms-3 mt-2" routerLink="/admin/clients" routerLinkActive="activ">
          <i class="fa-solid ps-3 fa-address-book fs-4"></i> <a class="p-0 m-0">Clients</a>
        </li>
        <li class="d-flex align-items-center ms-3 mt-2" routerLink="/admin/team" routerLinkActive="activ">
          <i class="fa-solid ps-3 fa-users fs-4"></i> <a class="p-0 m-0">Team</a>
        </li>
        <li class="d-flex align-items-center ms-3 mt-2" routerLink="/admin/opinions" routerLinkActive="activ">
          <i class="fa-solid ps-3 fa-star fs-4"></i> <a class="p-0 m-0">Opinions</a>
        </li>
        <li class="d-flex align-items-center ms-3 mt-2" routerLink="/admin/careers" routerLinkActive="activ">
          <i class="fa-solid ps-3 fa-user-tie fs-4"></i> <a class="p-0 m-0">Careers</a>
        </li>
        <li class="d-flex align-items-center ms-3 mt-2" routerLink="/admin/messages" routerLinkActive="activ">
          <i class="fa-solid ps-3 fa-envelope fs-4"></i> <a class="p-0 m-0">Messages</a>
        </li>
        <li class="d-flex align-items-center ms-3 mt-2" (click)="logOut()">
          <i class="fa-solid ps-3 fa-sign-out-alt fs-4"></i> <a class="p-0 m-0">Logout</a>
        </li>
      </ul>
    </div>
  </aside>
  <div *ngIf="showSidebar" class="mob d-lg-none d-block p-2 text-center">
    <nav class="navbar navbar-expand-lg ">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/vendors/imgs/Logo-White.png" class="img-fluid" alt="">
        </a>
        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0 text-center">
            <div class=" ">
              <li class="d-flex align-items-center ms-3 mt-2" routerLinkActive="activ">
                <a class="p-0 nav-link m-0" routerLink="/admin/projects">Projects</a>
              </li>
            </div>
            <div class=" ">
              <li class="d-flex align-items-center ms-3 mt-2" routerLinkActive="activ">
                <a class="p-0 nav-link m-0" routerLink="/admin/blogs">blogs</a>
              </li>
            </div>
            <div class=" ">
              <li class="d-flex align-items-center ms-3 mt-2" routerLinkActive="activ">
                <a class="p-0 nav-link m-0" routerLink="/admin/clients">clients</a>
              </li>
            </div>

            <div class=" ">
              <li class="d-flex align-items-center ms-3 mt-2" routerLinkActive="activ">
                <a class="p-0 nav-link m-0" routerLink="/admin/team">Team</a>
              </li>
            </div>
            <div class=" ">
              <li class="d-flex align-items-center ms-3 mt-2" routerLinkActive="activ">
                <a class="p-0 nav-link m-0" routerLink="/admin/careers">careers</a>
              </li>
            </div>

            <div class="">
              <li class="d-flex align-items-center ms-3 mt-2" routerLinkActive="activ">
                <a class="p-0 nav-link m-0" routerLink="/admin/messages">messages</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>